:root {
    --priority-low: green;
    --priority-medium: orange;
    --priority-high: red;
    --priority-width: 8px;

    --styled-white: #EDECEE;
    --styled-dark: #211D25;

    --delete-icon-size: 30px;
    --delete-icon-wrapper-size: 30px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.15fr 0.85fr;
    color: var(--styled-white);
}

#header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-small {
    font-size: 16px;
}

.text-medium {
    font-size: 24px;
}

.text-large {
    font-size: 32px;
}

#header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--styled-dark);
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #372F39;
    padding: 20px;

}

#nav-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #151116;

    padding: 30px;
}

.project-name-container:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 0.2s ease;
    background-color: #151116;
}

#projects-container {
    padding-left: 15px;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;

}

.project-name-container {
    border-radius: 30px;
    padding: 10px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-element {
    background-color: #473C49;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.15s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-element:hover {
    background-color: #594c5c;
    transform: scale(1.002);
}

.todo-buttons-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#todo-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-priority-low {
    border-left: var(--priority-width) solid var(--priority-low);
}

.todo-priority-medium {
    border-left: var(--priority-width) solid var(--priority-medium);
}
.todo-priority-high {
    border-left: var(--priority-width) solid var(--priority-high);
}

.todo-title {
    padding: 10px 0px;
    margin: 0px;
}

.todo-container-header {
    margin: 0px;
    padding: 0px;
}

/* Delete button */

.todo-delete-icon-wrapper {
    border-radius: 50%;
    height: var(--delete-icon-wrapper-size);
    width: var(--delete-icon-wrapper-size);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    display: inline-block;
    transition: all 0.2s ease;
}

.todo-delete-icon-wrapper:hover {
    background-color: var(--styled-white);
    cursor: pointer;
    transition: all 0.2s ease;
}

.todo-delete-icon {
    transition: all 0.2s ease;
    filter: brightness(0) saturate(100%) invert(86%) sepia(3%) saturate(78%) hue-rotate(227deg) brightness(113%) contrast(89%);
}

.todo-delete-icon-hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(11%) sepia(17%) saturate(518%) hue-rotate(227deg) brightness(93%) contrast(97%);
    transition: all 0.2s ease;
}

/* Details button */

.details-btn {
    border: 1px solid var(--styled-white);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    display: inline-block;
}

.details-btn:hover {
    background-color: var(--styled-white);
    color: var(--styled-dark);
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(1px);
  }
  
.modal-content {
    background-color: var(--styled-dark);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#modal-joint-container {
    display: grid;
    grid-template-columns: auto-fit auto-fit;
    grid-template-rows: auto-fit auto-fit auto-fit;
    width: auto;
}

#modal-priority,
#modal-due-date,
#modal-description {
    grid-column: 2 / 3;
}

#modal-description {
    grid-row: 1 / 2;
}
#modal-due-date {
    grid-row: 2 / 3;
}
#modal-priority {
    grid-row: 3 / 4;
}

.project-btn-icon {
    width: 24px;
    height: auto;

}

.new-project-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}